<link rel="stylesheet" type="text/css" href="/stylesheets/invest-chat.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/chat-fonts.css">
<div id="main">
    <div id="content" ng-controller="chatController">
        <div id="first-galance">
            <div id="chat-title">
                <div data-uid="{{data.session}}" id="title">
                    <span>
                        <a href="" title="" >
                            <span id="user-tips">{{data.companyname}}</span> ,欢迎您进行业务
                    </a>
                    </span>
                </div>
                <div id="show-hidden">
                    <span>
                    <a href="javascript:void(0)" title="" ng-switch on="chat.showToList" ng-click="chat.showClick()">
                    <i ng-switch-when="hide">隐藏</i>
                    <i ng-switch-when="show">显示</i>
                    业务洽谈信息</a>
                    </span>
                </div>
            </div>
            <div id="to-list" ng-show="chat.showToList == 'hide'">
                <ul>
                    <li>
                        <span class="to-one" ng-repeat="list in data.friendList track by $index">
                            <span class="name">{{list.username}}</span>
                        <span class="connect-btn">
                                <a href="javascript:void(0)" 
                                   data-from="{{list.email}}"
                                   data-nickname="{{list.username}}" ng-click="chat.chooseTo(event)">联系</a>
                            </span>
                        </span>
                    </li>
                    <li>
                    </li>
                </ul>
            </div>
        </div>
        <div id="chat-area">
            <div id="left-nav">
                <div id="current-to">
                    <span>当前联系人</span>
                </div>
                <div id="current-list">
                    <div id="to">
                        <ul id="list-show">
                            <li ng-repeat="friend in chat.chatList track by $index" ng-class="{newcoming:chat.index == {{$index}}}">
                                <span class="tips" data-id="{{friend.id}}" data-index="{{$index}}" ng-click="chat.switchTo(event)">{{friend.nickname}}</span>
                                <span data-id="{{friend.id}}" class="close icon-close" ng-click="chat.delTo(event)"></span>
                            </li>
                        </ul>
                    </div>
                    <div id="historty">
                        <span>
                            <a href="company.html#/chatHistory" title="">查看历史消息
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div id="right-nav">
                <div id="sub-nav">
                    <ul>
                        <li>
                            <span>
                                <a href="#" title="">修订合同</a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="company.html#/modifyContract" title=""> 查看合同
                                </a>
                            </span>
                        </li>
                        <li>
                            <span id="upload">
                                <input type="file" name="" />
                                <a href="javascript:void(0);" title="">上传合同</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div id="ichat">
                    <div class="msg-window">
                        <div class="show-msg" data-form="">
                            <ul id="msg-list">
                            </ul>
                        </div>
                    </div>
                    <div id="send-msg">
                        <div id="input">
                            <input type="text" id="send" name="msg">
                        </div>
                        <div id="send">
                            <span id="send-btn" class="icon-send-btn">
                            </span>
                            <span id="fj" class="icon-fj">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
