<link rel="stylesheet" type="text/css" href="/stylesheets/directionDown.css">
<div id="mainContainer">
    <div id="main-c">
        <div id="sidebarContainer">
            <div id="listTitle">
                <ul id="sidebarTitle">
                    <li class="sidebarItem">我的消息</li>
                </ul>
            </div>
            <div ng-include="'/views/company/inews-left-nav.html'" scope="" onload="" id="listContent">
            </div>
        </div>
        <div id="mainContent">
            <div id="searchForm">
                <div id="searchInput">
                    <input id="searchText" type="text" placeholder="请输入关键字">
                </div>
                <a href="" style="display:inline;">
                    <div class="searchButton">确定</div>
                </a>
            </div>
            <div id="mainContent_list">
                <div class="table_item">
                    &nbsp;&nbsp;股权人定向披露
                    <img class="img_down" src="/images/pick_up.png">
                </div>
                <div class="table_item_text">
                    <div class="pick_up_first">
                        <span>请选择定向披露的对象:</span>
                        <br/>
                        <form>
                            <input type="checkbox" />
                            <label>男</label>
                            <br/>
                            <input type="checkbox" />
                            <label>女</label>
                            <br/>
                            <input type="checkbox" />
                            <label>王森淼</label>
                        </form>
                    </div>
                    <div class="pick_up_second">
                        <form>
                            <label>股份变动及股东变动情况.PDF</label>
                            <br/>
                            <label>股份变动及股东变动情况.PDF</label>
                            <br/>
                            <label>股份变动及股东变动情况.PDF</label>
                        </form>
                    </div>
                    <div class="inputButton">
                        <a href="" style="display:inline;">
                            <div class="searchButton">确定</div>
                        </a>
                    </div>
                </div>
                <div class="table_item">
                    &nbsp;&nbsp;债权人定向披露
                    <img class="img_down" src="/images/pick_up.png">
                </div>
                <div class="table_item_text">
                    <div class="pick_up_first">
                        <span>请选择定向披露的对象:</span>
                        <br/>
                        <form>
                            <input type="checkbox" />
                            <label>男</label>
                            <br/>
                            <input type="checkbox" />
                            <label>女</label>
                            <br/>
                            <input type="checkbox" />
                            <label>王森淼</label>
                        </form>
                    </div>
                    <div class="pick_up_second">
                        <form>
                            <label>股份变动及股东变动情况.PDF</label>
                            <br/>
                            <label>股份变动及股东变动情况.PDF</label>
                            <br/>
                            <label>股份变动及股东变动情况.PDF</label>
                        </form>
                    </div>
                    <div class="inputButton">
                        <a href="" style="display:inline;">
                            <div class="searchButton">确定</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="page">
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
