<link rel="stylesheet" type="text/css" href="/stylesheets/finishedReservation.css">
<div id="mainContainer">
    <div id="main-c">
        <div id="sidebarContainer">
            <div id="listTitle">
                <ul id="sidebarTitle">
                    <li class="sidebarItem">预约管理</li>
                </ul>
            </div>
            <div ng-include="'/views/company/reservation-sidenav.html'" scope="" onload="" id="listContent">
            </div>
        </div>
        <div id="mainContent">
            <div id="searchForm">
                <p>查询：</p>
                <div id="searchInput">
                    <input id="searchText" type="text" placeholder="请输入关键字搜索">
                </div>
                <a href="" style="display:inline;">
                    <div id="searchButton">确定</div>
                </a>
            </div>
            <div id="selectForm">
                <p>排序：</p>
                <select>
                    <option></option>
                    <option>预约方</option>
                    <option>联系方式</option>
                    <option>预约时间</option>
                    <option>预约提交时间</option>
                    <option>操作</option>
                </select>
            </div>
            <div id="TableList">
                <table class="hovertable">
                    <tr>
                        <th>预约方</th>
                        <th>联系方式</th>
                        <th>预约时间</th>
                        <th>&nbsp;预约提交时间</th>
                    </tr>
                    <tr onMouseOver="this.style.backgroundColor='#ffff66';" onMouseOut="this.style.backgroundColor='#d4e3e5';">
                        <td>赵京木&nbsp;</td>
                        <td>&nbsp;18840838187&nbsp;</td>
                        <td>&nbsp;2015-09-016&nbsp;</td>
                        <td>&nbsp;2015-08-28&nbsp;&nbsp;</td>
                    </tr>
                </table>
                <hr class="hr1" />
            </div>
            <div id="page">
            </div>
        </div>
    </div>
</div>
