<link rel="stylesheet" type="text/css" href="/stylesheets/ipubish.css">
<div id="mainContainer">
    <div>
        <div id="sidebarContainer">
            <div id="listTitle">
                <ul id="sidebarTitle">
                    <li class="sidebarItem">信息发布</li>
                </ul>
            </div>
            <div ng-include="'/views/company/info-publish.html'" scope="" onload="" class="list">
            </div>
        </div>
        <div id="mainContent">
            <div id="searchForm">
                <div id="input">
                    <input id="searchText" type="text" placeholder="搜">
                </div>
                <a href="" style="display:inline;">
                    <div id="searchButton">搜索</div>
                </a>
            </div>
            <p class="title">对公数据披露</p>
            <div id="subjectListContainer">
                <div id="headPhotoBox"></div>
                <table id="subjectListContent">
                    <tbody>
                        <tr>
                            <td>公司名称：{{data.user.companyName}}</td>
                            <td>成立时间：{{data.user.createTime}}</td>
                        </tr>
                        <tr>
                            <td class="listItem">所在地区： {{data.user.registerAddress}}
                            </td>
                            <td class="listItem">注册资本： {{data.user.registerCapital}}万
                            </td>
                        </tr>
                        <tr>
                            <td class="listItem">所属行业： {{data.user.workField}}
                            </td>
                            <td class="listItem">咨询电话： {{data.user.phoneNumber}}
                            </td>
                        </tr>
                        <tr>
                            <td class="listItem">所属专利：</td>
                            <td class="listItem">驻外办事处机构：无</td>
                        </tr>
                        <tr>
                            <td class="listItem">分厂： {{data.user.branchFactory}}
                            </td>
                            <td class="listItem">员工人数： {{data.user.employeesNum}}人
                            </td>
                        </tr>
                        <tr>
                            <td class="listItem">子公司： {{data.user.subsidiary}}
                            </td>
                            <td class="listItem">占地面积： {{data.user.comapnyArea}}亩
                            </td>
                        </tr>
                        <tr>
                            <td class="listItem">技术优势： {{data.user.technologyAdvantage}}
                            </td>
                            <td class="listItem">人才优势： {{data.user.productAdvantage}}
                            </td>
                        </tr>
                        <tr>
                            <td class="listItem">产品优势： {{data.user.productAdvantage}}
                            </td>
                            <td class="listItem">品牌优势：</td>
                        </tr>
                        <tr>
                            <td class="listItem">市场优势：</td>
                            <td class="listItem">管理优势：</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="title">产品服务：</p>
            <p>
                {{data.user.productService}}
            </p>
            <p class="title">公司简介</p>
            <p></p>
            <p class="title">公司相册</p>
            <div id="albumContainer"></div>
            <div id="publishButton">发布更多消息
            </div>
            <div id="page">
            </div>
        </div>
    </div>
</div>
