<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
<div id="content" ng-controller="loginController">
    <div id="first-glance" class="banner">
        <a href="#" class="unslider-arrow next"> <img src="/images/btn-pre.png" alt="" />
        </a>
        <a href="#" class="unslider-arrow next"> <img src="/images/btn-next.png" alt="" />
        </a>
        <ul>
            <li style="background-image: url(/images/banner-l1.png)"></li>
            <li style="background-image: url(/images/banner-l2.png)"></li>
            <li style="background-image: url(/images/banner-l3.png)"></li>
        </ul>
    </div>
    <div id="login">
        <form method="post" action="/springmvc/customer/login">
            <ul>
                <li><span class="label">账号:</span>
                    <input type="text" id="username" name="username" class="input-text" ng-model="user.name">
                </li>
                <li>
                    <span class="label">密码:</span>
                    <input type="password" id="password" name="password" class="input-text" ng-model="user.password">
                </li>
                <li><span id="auth-tips">验证码:&nbsp;</span>
                    <input type="text" name="auth" id="auth-in">
                    <span id="auth"> <img src="/images/refresh.png" alt=""></span>
                    <span id="refresh">刷新</span>
                </li>
                <li>
                    <input type="checkbox" name="nologin" value="自动登陆" class="checke" id="nologin" checked /> <span id="nologin-text">自动登陆</span>
                    <span id="iforget"><a href="iforget" title="">忘记密码?</a></span>
                </li>
                <li login-type-directive>
                    <input type="radio" name="logintype" value="2" checked/> <span>投资者登陆</span>
                    <input type="radio" name="logintype" value="1" /><span>企业登陆</span>
                </li>
                <li>
                    <input type="button" id="btn-login" value="立即登陆" login-directive>
                    <span id="btn-reg">
                       <a href="main.html#/customer/reg" title="">立即注册</a>
                   </span>
                </li>
                <li>
                    <span id="feedback">{{user.feedback}}</span>
                </li>
            </ul>
        </form>
    </div>
</div>
