<link href="/stylesheets/equity-detail.css" rel="stylesheet" type="text/css">
<div id="container">
    <div id="head">
        <div id="button">
            <p>
                <a href="investor.html#/investModel">返回上一层
                   <img src="/images/back.png" style="vertical-align: middle">
                </a>
            </p>
        </div>
        <div id="title">
            <p>{{debt.companyName}}有限公司增信私募债券</p>
        </div>
    </div>
    <div id="main">
        <div id="left">
            <div id="column1">
                <div class="subtitle">
                    <p>发行方基本信息</p>
                </div>
                <div class="text">
                    <p>
                        所属行业：{{debt.workField}}
                        <br/> 注册地：{{debt.registerAddress}}
                        <br/> 注册时间：{{debt.createTime}}
                        <br/> 注册资本：{{debt.registerCapital}}万元
                        <br/> 担保公司/个人：
                        <span style="color: red">{{debt.bondsman}}有限公司</span>
                        <br/> 去年营业额：{{debt.turnover}}万元
                        <br/> 净资产：{{debt.netAsset}}万元
                        <br/> 净利润：{{debt.netProfit}}万元
                        <br/>
                    </p>
                </div>
            </div>
            <div id="column2">
                <div class="subtitle">
                    <p>产品详细信息</p>
                </div>
                <div class="text">
                    <p>
                        发行人：{{debt.companyName}}有限公司
                        <br/> 发行金额：{{debt.publishMoneyMin}}万元
                        <br/> 发行期限：{{debt.publishFixedYesrs}}年
                        <br/> 发行完成日期：{{debt.publishFinsh}}
                        <br/> 产品类型：{{debt.productType}}
                        <br/> 还本付息方式：{{debt.returnMoneyWay}}
                        <br/> 可承担最高利息：{{debt.occupyMaxInterestMax}}年
                        <br/> 年资金占用时长：{{debt.occupyTime}}个月
                        <br/> 可提供风控：{{debt.riskCotrollRequest}}
                        <br/> 抵押物类型：其他资产
                        <br/> 还款来源：{{debt.returnSource}}
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="sidebartitle">
                <P>相似的产品</P>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div id="foot-list">
    </div>
</div>
</body>

</html>
