<link href="/stylesheets/equity-detail.css" rel="stylesheet" type="text/css">
<div id="container">
    <div id="head">
        <div id="button">
            <p>
                <a href="">返回上一层
                   <img src="/public/images/back.png" style="vertical-align: middle">
                </a>
            </p>
        </div>
        <div id="title">
            <p>{{equ.companyName}}有限公司增信私募债券</p>
        </div>
    </div>
    <div id="main-content">
        <div id="left">
            <div id="column1">
                <div class="subtitle">
                    <p>发行方基本信息</p>
                </div>
                <div class="text">
                    <p>
                        所属行业：{{equ.workField}}
                        <br/> 注册地：{{equ.registerAddress}}
                        <br/> 注册时间：{{equ.createTime}}
                        <br/> 注册资本：{{equ.registerCapital}}万元
                        <br/> 担保公司/个人：
                        <span style="color: red">{{equ.bondsman}}有限公司</span>
                        <br/> 去年营业额：{{equ.turnover}}万元
                        <br/> 净资产：{{equ.netAsset}}万元
                        <br/> 净利润：{{equ.netProfit}}万元
                        <br/>
                    </p>
                </div>
            </div>
            <div id="column2">
                <div class="subtitle">
                    <p>产品详细信息</p>
                </div>
                <div class="text">
                    <p>
                        发行人：{{equ.companyName}}有限公司
                        <br/> 发行金额：{{equ.publishMoneyMin}}万元
                        <br/> 发行期限：{{equ.ublishFixedYesrs}}年
                        <br/> 发行完成日期：{{equ.publishFinsh}}
                        <br/> 产品类型：{{equ.productType}}
                        <br/> 投资门槛：{{equ.investmentMinRequest}}万元
                        <br/> 最低追加金额：{{equ.minAddto}}万元
                        <br/> 资金方占股比例：{{equ.occupyPercentMin}}- {{equ.occupyPercentMax}}%
                        <br/> 投资退出方式:{{equ.exitWay}}
                        <br/> 最短退出年限：{{equ.exitMinTime}}年
                        <br/> 项目所处阶段：{{equ.currentStage}}
                        <br/> 企业当前净资产：{{equ.netAsset}}万元
                        <br/> 去年营业额：{{equ.netProfit}}万元
                        <br/>
                    </p>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="sidebartitle">
                <P>相似的产品</P>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
            <div class="box">
                广东某互联网科技项目股权融资300万
                <br/> 融资金融：300万
                <br/>
                <span>债券融资</span>
                <span class="border">IT互联网</span>
                <span>广东省</span>
            </div>
        </div>
    </div>
</div>
