<link href="/stylesheets/reset.css" type="text/css" rel="stylesheet" />
<link href="/stylesheets/task4-nav.css" type="text/css" rel="stylesheet" />
<link href="/stylesheets/information_issue.css" type="text/css" rel="stylesheet" />
<div class="swap">
    <div class="nav fl">
        <div class="tit ">
            <p>信息披露</p>
        </div>
        <div class="tri">
        </div>
        <div class="tri1">
        </div>
        <div ng-include="'/views/investor/info-left-nav.html'" scope="" onload="" class="list">
        </div>
    </div>
</div>
<div class="main fl">
    <div class="main_head">
        <p>中心报告</p>
        <div class="search">
            <input type="text" class="input" placeholder="请输入关键字搜索">
            <button class="search_button">&nbsp;&nbsp;&nbsp;搜&nbsp;索</button>
        </div>
    </div>
    <div class="main_content">
        <ul>
            <li>
                <img src="/images/select.png" />
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
            <li>
                <a href="#">关于景森工程设计顾问有限公司终止挂牌的公告</a>
            </li>
        </ul>
    </div>
</div>
</div>
