<ul>
    <li class="left-nav"><a href="investor.html#/infoCenter">中心公告</a></li>
    <li class="left-nav"><a href="investor.html#/privateDebtList">私募债券列表</a></li>
    <li class="left-nav"><a href="investor.html#/infoRecords">备案发行报告</a></li>
    <li class="left-nav"><a href="investor.html#/infoTransform">转让交易报告</a></li>
    <li class="left-nav"><a href="investor.html#/infoRegular">定期报告</a></li>
    <li class="left-nav"><a href="investor.html#/infoTemporary">临时报告</a></li>
    <li class="left-nav"><a href="investor.html#/infoCredit">信用报告</a></li>
</ul>
