<link rel="stylesheet" type="text/css" href="/stylesheets/service-chat-reservation.css" />
<div class="wrap">
    <p class="title" id="to" data-to="test">您当前预约的是：渤海黑山集团公司</p>
    <p class="select_time">请选择时间：</p>
    <form action="/springmvc/investor/appointment" method="POST" name="form">
        <table>
            <tr>
                <td align=left id="calOne" valign=top>
                    loading calendar one...
                </td>
            </tr>
            <tr>
                <td>
                    <button class="time_button first_but">一周之内</button>
                    <button class="time_button">一个月内</button>
                    <button class="time_button">三个月内</button>
                    <button class="time_button">半年内</button>
                    <button class="time_button">一年</button>
                    <button class="time_button">中秋</button>
                    <button class="time_button">国庆</button>
                </td>
            </tr>
        </table>
        <p class="notice">
            您的姓名:
        </p>
        <input type="text" name="name" />
        <p class="notice">
            您的联系方式:
        </p>
        <input type="text" name="phoneNumber" />
        <input class="reservation" type="button" value="确认预约" id="btn">
    </form>
</div>
