<link href="/stylesheets/radioButton.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/logined_investorpatten_stockright_manage.css" rel="stylesheet" type="text/css">
<div id="main">
    <div ng-include="'/views/investor/socket-top-nav.html'" scope="" onload=""></div>
    <div id="content">
        <div id="subtitle">
            股权状况分布
        </div>
        <div class="list-text">
            <div>
                公司名称
            </div>
            <div>
                <span>所在地：北京</span>
                <span>份额：1</span>
                <span>投入资金额：100万</span>
            </div>
        </div>
        <div class="list-text">
        </div>
        <div class="list-text">
        </div>
        <div class="list-text">
        </div>
    </div>
</div>
